.siuloxygen-settings-button {
    background: var(--oxy-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    cursor: pointer;

    &:hover {
        background-color: var(--oxy-hover);
    }

    svg {
        height: 20px;
        width: 20px;
        fill: currentColor;
    }
}