.windpresslivecanvas-tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    overflow: auto;
    display: block;
    z-index: 999999;
    max-height: 50vh;
    max-width: 100% !important;

    background-color: var(--color-interface-bg-dark);
    border-radius: 2px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .5);

    min-width: 200px;

    ul {
        margin: 0;
        margin-top: 2px;
        padding: 0;
        list-style: none;

        li {
            padding: 5px 5px;
            cursor: pointer;
            font-size: 11px;
            color: var(--color-grey-2);
            position: relative;

            &.highlight {
                background: var(--color-accents);
            }

            &.no-match {
                cursor: default;
            }

            &.menu-highlighted {
                font-weight: bold;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .4);
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, .2);
    }

    li {
        span.class-name {
            span {
                font-weight: bold;
            }
        }

        span.class-hint {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            padding-right: 8px;
            color: transparent;
        }
    }
}

.hit-container {
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 30px !important;
    background-color: hsl(236 25% 6% / 1) !important;
    overflow: hidden !important;
    margin-bottom: 12px !important;

    .hit-backdrop,
    textarea.class-livedit {
        // border: 1px solid var(--color-accents);
        // border-radius: 2px;
        color: var(--color-grey-2) !important;
        font-size: 12px;
        font-family: Consolas, monaco, Courier New, monospace !important;
        word-spacing: 8px !important;
        overflow-wrap: break-word;
        width: 100%;
        word-break: normal !important;
        line-height: 30px !important;
        margin-bottom: 0 !important;
        min-height: 35px !important;
        overflow: hidden !important;
    }

    textarea.class-livedit {
        border: none !important;
    }

    .hit-backdrop {
        position: absolute !important;
    }

    .hit-highlights {
        width: auto !important;
        height: auto !important;
        border-color: transparent !important;
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        color: transparent !important;
        overflow: hidden !important;
        border-width: 0 !important;
    }

    .hit-input {
        display: block !important;
        position: relative !important;
        margin: 0;
        padding: 0;
        border-radius: 0;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        &:focus {
            outline-color: #495057;
        }
    }

    .hit-content {
        border: 0;
        background: none transparent !important;
        padding: .375rem .75rem;
        position: relative;

        mark {
            padding: 0;
            border-radius: 0.1px;

            &.word {
                background-color: #1e2032;
                outline-color: #1e2032;
                outline-width: 5.5px;
                outline-style: solid;
            }

            &.multispace,
            &.placeholder {
                background-color: transparent;
            }

            &.placeholder {
                color: var(--color-grey-2);
                opacity: .75;
            }
        }
    }
}

.tippy-box {
    max-width: initial !important;
}