.wp-admin.toplevel_page_windpress {
    #wpcontent {
        padding-left: 0;

        #wpbody-content {
            padding-bottom: 0;

            /* Hide the notice nag */
            .notice {
                display: none;
            }
        }
    }

    html.dark>& {
        background: #14161c;
    }

    #wpfooter {
        display: none;
    }

    /* Hide the update nag */
    .update-nag {
        display: none;
    }
}

#windpress-app {
    &.universal {
        >.windpress-container {
            z-index: calc(infinity);
            position: fixed;
            top: var(--wp-admin--admin-bar--height, 0);
            left: 0;
            right: 0;
            bottom: 0;

            &.hide-universal {
                display: none;
            }
        }
    }

    svg.inline-svg {
        display: inline-block;
        height: 1em;
        vertical-align: -.125em;
    }

    .monaco-editor * {
        font-size: 13px !important;
    }

    .v-popper--theme-tooltip {
        .v-popper__wrapper {
            box-shadow: 0 2px 3px rgba(0, 0, 0, .12);
        }

        .v-popper__inner {
            color: rgb(34 33 35);
            background: white;
        }

        .v-popper__arrow-inner,
        .v-popper__arrow-outer {
            border-color: white;
        }

    }
}

html:not(:has(#windpress-app.universal)) {
    .windpress-badge {
        display: none;
    }
}