.hit-container {
    border: 1px solid var(--wp-components-color-gray-600, #949494);
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden !important;
    line-height: normal !important;


    .hit-backdrop,
    textarea {
        line-height: 30px !important;
        word-spacing: 10px !important;
    }

    .hit-backdrop {
        position: absolute !important;
        overflow: hidden !important;

        width: 100%;
        overflow-wrap: break-word;
    }

    .hit-highlights {
        width: auto !important;
        height: auto !important;
        border-color: transparent !important;
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        color: transparent !important;
        overflow: hidden !important;
        border-width: 0 !important;
    }

    .hit-input {
        display: block !important;
        position: relative !important;
        margin: 0;
        padding: 0;
        border-radius: 0;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        &:focus {
            outline-color: #495057;
        }
    }

    .hit-content {
        border: 0;
        background: none transparent !important;
        // padding: 10px;
        padding: 4px 10px;
        position: relative;

        mark {
            padding: 0;
            border-radius: 0.1px;

            &.word {
                background-color: rgb(from var(--wp-admin-theme-color) r g b / 0.1);
                outline-color: rgb(from var(--wp-admin-theme-color) r g b / 0.1);
                outline-width: 5.5px;
                outline-style: solid;
            }

            &.multispace,
            &.placeholder {
                background-color: transparent;
            }

            &.placeholder {
                opacity: .75;
            }
        }
    }
}

.windpressgutenberg-tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    overflow: auto;
    display: block;
    z-index: 999999;
    max-height: 50vh;
    max-width: 100% !important;

    background-color: #fff;
    border-radius: 3px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .5);

    min-width: 200px;

    ul {
        margin: 0;
        margin-top: 2px;
        padding: 0;
        list-style: none;

        li {
            padding: 5px 5px;
            cursor: pointer;
            font-size: 11px;
            position: relative;

            &.highlight {
                background: rgb(from var(--wp-admin-theme-color) r g b / 0.1);
            }

            &.no-match {
                cursor: default;
            }

            &.menu-highlighted {
                font-weight: bold;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .4);
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, .2);
    }

    li {
        span.class-name {
            span {
                font-weight: bold;
            }
        }

        span.class-hint {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            padding-right: 8px;
            color: transparent;
        }
    }
}

.windpressgutenberg-actions {
    margin-bottom: 10px;
    .icon-tabler {
        fill: none;
    }
}

.tippy-box {
    background: #1e1e1e;
    max-width: calc(100vw - 10px) !important;

    .tippy-content {
        padding: 10px;
    }
}